#particles canvas{
    z-index: -1;
    position: absolute;
    
}
.carousel-container {
    max-width: 1000px;  /* Limit the maximum width */
    margin: 0 auto;     /* Center the carousel on the page */
    padding: 20px;      /* Add padding around the carousel */
  }

.slick-slide > div{
    margin: 0 10px;
}

.nav-link::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    border-radius: 10px;
    bottom: -2px;
    left: 0;
    background-color: #D054A0; /* Tailwind blue-500 */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::before {
    visibility: visible;
    width: 100%;
  }